<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>01EA734E1F3D4B5E003A92F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01EA73621F3D4B5E003A92F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01EA736D1F3D4B5E003A92F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
